<%- include('../include/header.html')%>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
            <div class="col-form-label form-group">
                <label for="username">
                    用户名
                </label>
                <div>
                    <input required type="text" class="form-control" id="username" name="username">
                </div>
            </div>
            <div class="col-form-label form-group">
                <label for="password">
                    密码
                </label>
                <div>
                    <input required type="text" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="col-form-label form-group">
                <label for="email">
                    邮箱
                </label>
                <div>
                    <input required type="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="col-form-label form-group">
                    <label for="avatar">
                        头像
                    </label>
                    <div>
                        <input required type="file" class="form-control" id="avatar" name="avatar">
                    </div>
                </div>
            <div class="col-form-label col-sm-offset-3">

                <div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('../include/footer.html')%>